/* Estilos para los componentes. */

/* Para el menú de departamentos  */

h1 {
    text-align: center;
    font-size: 2rem;
    padding: 5px 0;
}

h2 { 
    font-size: 2rem;
    text-align: center;
    margin-bottom: 25px;
}

.menudepartamento {
    width: 100%;
    align-items: center;
    min-height: 80px;
    background-color: blue;
    color: white;
}

.menuitems {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 90%;
    margin: 0 auto;
    color: white;
    /* background-color: rgb(218, 235, 31); */
    /* height: 100%; */
}

.itemmenu {
    width: 30%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 80px;
    padding: 0px 0px;
    margin: 0px;
    cursor: pointer;
    font-size: 1.3rem;
}

.itemmenu a { 
    text-decoration: none;
    color: white;
}

.itemmenuactive {
    background-color: rgb(234, 238, 191);
}

.itemmenu:hover {
    background-color: rgb(0, 106, 255);
    transition-property: all;
    transition-duration: 1s;
}

.itemmenu a:hover { 
    font-weight: bold;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 90%;
    background-color: white;
    padding: 2%;
}

.title { 
    text-align: center;
    margin-bottom: 5px;
    font-size: 2.5em;
}

.container section {
    width: 98%;
}


.paragraph {
    font-size: 1.2em;
    margin-bottom: 5px;
}

.selectcontainer {
    width: 50%;
}

.selectcontainer {
    margin: 5px 5px;
}

.containerdepartamentos {
    display: flex;
    flex-direction: row;
}

.select {
    display: block;
    height:35px;
    width: 100%;
    margin-bottom: 15px;
    font-size: 1.2em;
    padding-left: 10px;
}

label {
    display: block;
    font-weight: 700;
    font-size: 1.25em;
    padding: 5px 5px;
    margin-bottom: 5px;
}

.botonenviar {
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 45%;
    text-align: center;
}

.botonera {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    flex-wrap: wrap;
    /* align-items: stretch; */
}

.botonletra {
    padding: 2px 2px;
    margin: 3px;
    min-width: 40px;
    min-height: 40px;
    text-align: center;
    cursor: pointer;
}

.containermunicipio {
    
}

.listado-municipios {
    margin-top: 15px;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
}

.containertotciudades {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 150px;
    align-items: center;
    /* justify-content:space-between; */
    padding: 0px 5px;
    border: 1px solid black;
}

.containertotciudades p {
    font-size: 2rem;
    font-weight: bold;
}

.containerTotalMunicipios {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
    gap: 7px;
}

.itemmunicipio {
    /* display: inline-block;
    min-width: 33%;
    max-width: 33%; */
    min-height: 40px;
    padding: 4px 0px;
    border: solid 2px black;
    margin: 1px;
    text-align: center;
    overflow: hidden;
}

.itemmunicipio:hover {
    font-weight: bold;
    font-size: 1.3rem;
}

/* Para la búsqueda */
.searchMunicipio {
    width: 100%;
    padding: 5px 10px;
    font-size: 1.2rem;
    font-weight: bold;
    min-height: 45px;
    margin: 5px 0px;
    border-radius: 5px;
}

fieldset {
    padding: 0px 3px;
    border-radius: 6px;
}

fieldset legend {
    font-weight: bold;
    padding: 0px 10px;

}


header {
    background-color: blue;
    margin-top: 10px;
    min-height: 180px;
}

header p {
    padding: 15px 0px;
    font-size: 1.2rem;
    text-align: center;
    color: white;
}

/* Casos para responsive design */

@media (max-width: 800px) {
    .containerdepartamentos {
        flex-direction: column;
    }

    .selectcontainer {
        width: 100%;
    }

    .itemmunicipio {
        min-width: 48%;
        max-width: 48%;
    }

    .containerTotalMunicipios {
        grid-template-columns: 1fr;
    }
}

